@import "variables";

#footer {
  background: white;
  .inside {
    background: transparent linear-gradient(130deg, #BB2631 0%, #5E1319 100%) 0% 0% no-repeat padding-box;
    border-top-right-radius: 150px;
    .bg-footer {
      background: url("/files/assets/layout/stier und bär.svg") no-repeat right bottom;
    }
  }
}

.footer-top {
  color: white;
  .footer-middle {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .mod_customnav {
      width: 43%;
      ul {
        li {
          padding: 10px 0;
          text-transform: uppercase;
          font: normal normal normal 18px/32px Open Sans;
          a {
            color: white;
            position: relative;
            padding-left: 30px;
            &:before {
              position: absolute;
              content: "";
              left: 0;
              top: 2px;
              width: 20px;
              height: 20px;
              background: url("/files/assets/layout/before.svg") no-repeat 0/cover;
            }
          }
          &:not(:last-child) {
            border-bottom: 1px solid white;
          }
        }
      }
    }
    .footer-right {
      width: 45%;
      font: normal normal normal 18px/26px Open Sans;
      text-transform: capitalize;
      p {
        strong {
          text-transform: uppercase;
        }
        a {
          color: white;
          transition: color 250ms;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}

.footer-right {
  .footer-social-icons {
    display: flex;
    justify-content: start;
    margin: 35px auto;
    .icon {
      width: 100px;
      img {
        transition: filer 250ms;
        &:hover {
          filter: saturate(0) brightness(10);
        }
      }
    }
  }
}

.footer-bottom {
  background: transparent linear-gradient(99deg, #BB2631 0%, #5E1319 100%) 0% 0% no-repeat padding-box;
  width: 79%;
  border-top-left-radius: 80px;
  margin: 0 0 0 auto;
  .nav-bottom {
    padding: 50px 0;
    .mod_customnav {
      ul {
        display: flex;
        justify-content: start;
        width: 50%;
        margin: 0 auto;
        li {
          text-transform: uppercase;
          padding-right: 30px;
          margin-right: 30px;
          &:not(:last-child) {
            border-right: 2px solid white;
          }
          a {
            color: white;
            font: normal normal normal 18px/34px Open Sans;
          }
        }
      }
    }
  }
}
