@import "variables";

#footer {
  background: white;
  .inside {
    background: transparent linear-gradient(130deg, #BB2631 0%, #5E1319 100%) 0% 0% no-repeat padding-box;
    border-top-right-radius: 150px;
    .bg-footer {
      background: url("/files/assets/layout/stier und bär.svg") no-repeat right bottom;
    }
  }
}

.footer-top {
  color: white;
  .footer-middle {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .mod_customnav {
      width: 43%;
      ul {
        li {
          padding: 10px 0;
          text-transform: uppercase;
          font: normal normal normal 18px/32px Open Sans;
          margin: 0 30px;
          a, strong {
            color: white;
            position: relative;
          /*  padding-left: 30px;*/
            &:before {
              position: absolute;
              content: "";
              left: -30px;
              top: 2px;
              width: 20px;
              height: 20px;
              background: url("/files/assets/layout/before.svg") no-repeat 0/cover;
            }
          }
          &:not(:last-child) {
            border-bottom: 1px solid white;
          }
        }
      }
    }
    .footer-right {
      width: 45%;
      font: normal normal normal 18px/26px Open Sans;
      text-transform: capitalize;
      p {
        strong {
          text-transform: uppercase;
        }
        a {
          color: white;
          transition: color 250ms;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}

.footer-right {
  .footer-social-icons {
    display: flex;
    justify-content: start;
    margin: 35px auto;
    .icon {
      width: 100px;
      img {
        transition: filer 250ms;
        &:hover {
          filter: saturate(0) brightness(10);
        }
      }
    }
  }
}

.footer-bottom {
  background: transparent linear-gradient(99deg, #BB2631 0%, #5E1319 100%) 0% 0% no-repeat padding-box;
  width: 79%;
  border-top-left-radius: 80px;
  margin: 0 0 0 auto;
  .nav-bottom {
    padding: 50px 0;
    .mod_customnav {
      ul {
        display: flex;
        justify-content: start;
        width: 50%;
        margin: 0 auto;
        li {
          text-transform: uppercase;
          padding-right: 30px;
          margin-right: 30px;
          &:not(:last-child) {
            border-right: 2px solid white;
          }
          a {
            color: white;
            font: normal normal normal 18px/34px Open Sans;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  #footer .inside {
    border-top-right-radius: 75px;
    .bg-footer {
      background-size: 300px;

    }
  }
  .footer-logo {
    width: 85%;
  }
  .footer-top .footer-middle {
    padding: 30px 0;
    .mod_customnav, .footer-right {
      width: 100%;
    }
    .footer-right {
      font: normal normal normal 17px/24px Open Sans;
      margin: 20px auto;
      .ce_text {
        text-align: center;
      }
      .footer-social-icons {
        justify-content: center;
        margin: 15px auto;
        .icon {
          width: 50px;
          padding: 0 5px;
        }
      }
    }
    .mod_customnav ul {
      li {
        font: normal normal normal 16px/20px Open Sans;
      }
    }
  }

  .footer-bottom {
    width: 100%;
    .nav-bottom {
      padding: 20px 0;
      .mod_customnav  {
        ul {
          width: 90%;
          margin: 0 auto;
          max-width: 1130px;
          text-align: center;
          display: block;
          li {
            padding-right: 0;
            margin: 10px auto;
            &:not(:last-child) {
              border-right: none;
            }
            a {
              position: relative;
              &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                width: 23px;
                height: 2px;
                background-color: #fff;
                transition: width 250ms;
                text-align: center;
                transform: translateX(-50%);
              }
              &.last {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
