@import "variables";

body {
  font-family: 'open-sans', sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header, .bg-gray .ce_text, .bg-white .ce_text,
.footer-top, .teaser-left, .tab-block, .border-teaser,
.contact, .bg-yellow .ce_text, .block-teaser,
.teaser-bg-gray .ce_text, .bg-gray-new .ce_text,
.bg-yellow-left .ce_text, .news, .teaser-engagement,
.jobs, .privacy {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

.footer-logo {
  width: 48%;
}

.logo-header {
  a {
    background: white;
    padding: 50px 35px;
    border-bottom-right-radius: 30px;
    display: flex;
    img {
      width: 460px;
    }
  }
}

.teaser, .image-text .text-right, .text-image .text-left,
.bg-gray .contain .ce_text, #engagement, .teaser-engagement{
  p, .more {
    font: normal normal 600 30px/50px Open Sans;
    a {
      display: inline-block;
      color: black;
      padding: 15px 40px;
      border-radius: 30px 30px 30px 0;
      text-transform: uppercase;
      overflow: hidden;
      position: relative;
      will-change: transform;
      z-index: 0;
      font-weight: 600;
      transition: color 250ms;
      &:after {
        border-radius: 50%;
        content: '';
        display: block;
        height: 500px;
        width: 500px;
        position: absolute;
        left: -124px;
        top: -225px;
        transform: scale(0);
        transform-origin: bottom left;
        transition: .3s transform ease-out;
        will-change: transform;
        z-index: -1;
      }
      &:hover:after {
        transform: scale(1);
      }
      &:hover {
        color: white;
      }
    }
  }
}

.rounded.yellow {
  .headline-contact{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    h2 {
      font: normal normal 600 54px/60px Open Sans;
      letter-spacing: 0;
      color: $rot;
      text-transform: uppercase;
    }
  }
}

#progress {
  position: fixed;
  bottom: 75px;
  right: 130px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 105;
}

#progress-value {
  height: calc(100% - 7px);
  width: calc(100% - 6px);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  img {
    width: 30px;
    transition: filter 250ms;
    &:hover {
      filter: invert(77%) sepia(71%) saturate(974%) hue-rotate(327deg) brightness(106%);
    }
  }
}

.bg-gray-new .contain-new, .bg-yellow-left .contain-new {
  .image_container {
    margin-bottom: -6px;
  }
}

.error-image {
  img {
    width: 100%;
  }
}

.error .header-error {
  background: white;
  box-shadow: 0 0 20px gray;
  border-bottom-right-radius: 30px;
  padding: 50px 35px;
  img {
    width: 460px;
  }
}

.error-teaser {
  position: absolute;
  top: 50%;
  color: white;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  h2 {
    font: normal normal 600 54px/60px Open Sans;
    color: #BB2631;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    color: #bb2631;
    font: normal normal 600 48px/56px Open Sans condensed;
    text-transform: uppercase;;
    a {
      display: inline-block;
      font: normal normal 600 24px/36px Open Sans;
      color: #bb2631;
      padding: 15px 40px;
      border-radius: 30px;
      text-transform: uppercase;
      overflow: hidden;
      background: $yellow;
      transition: color 250ms;
      &:hover {
        color: white;
      }
    }
  }
}

.error #header {
  position: absolute;
  width: 100%;
  height: 0;
  .mobile_menu_trigger {
    display: block;
  }
}

@media screen and (max-width: 860px) {
  p {
    font: normal normal normal 19px/28px Open Sans;
  }
  .teaser, .image-text .text-right, .text-image .text-left,
  .bg-gray .contain .ce_text, #engagement, .teaser-engagement{
    p, .more{
   /*   font: normal normal 600 22px/50px Open Sans;*/
      a {
        padding: 6px 25px;
      }
    }
  }
}






