@import "variables";

#header {
  position: absolute;
  width: 100%;
/*  z-index: 200;*/
  height: 85vh;
  z-index: 7;
  .inside {
    height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
}

.header-right {
  .menu {
    background: transparent linear-gradient(118deg, #BB2631 0%, #5E1319 100%) no-repeat;
    padding: 35px 25px;
    border-bottom-right-radius: 30px;
    display: flex;
    cursor: pointer;
    img {
      width: 129px;
      margin-top: 93px;
    }
  }
}

.mod_breadcrumb {
  position: absolute;
  bottom: -70px;
 /* z-index: 8;*/
  width: 80%;
  background: transparent linear-gradient(98deg, #BB2631 0%, #5E1319 100%) 0% 0% no-repeat padding-box;
  border-bottom-right-radius: 70px;
  padding: 20px 0;
  /*height: 85vh;
  top: 50%;
  transform: translateY(84%);*/
  z-index: 7;
  ul {
    max-width: 860px;
    margin: 0 auto;
    font: italic normal normal 16px/32px Open Sans;
    color: $yellow;
    display: flex;
    align-items: center;
    li.first {
      display: none;
    }
    li {
      &:not(:last-child):after {
        content: "/";
        display: inline-block;
        font-size: 1.1em;
        margin-left: 4px;
        margin-right: 3px;
      }
      a {
        color: $yellow;
        font-size: 20px;
      }
    }
  }
}

.without-bg .mod_breadcrumb {
  background: none;
  padding: 30px 0;
}

@media screen and (max-width: 1100px) {
  .mod_breadcrumb {
    width: 95%;
  }
}

@media screen and (max-width: 860px) {
  .header {
    display: block;
    .header-left {
      .logo-header a {
        padding: 35px 25px;
      }
    }
    .header-right {
      text-align: center;
      display: block;
      .mod_mobile_menu.mobile {
        .menu {
          display: inline-block;
          padding: 6px 10px;
          img {
            width: 60px;
            margin-top: 0;
          }
        }
      }
    }
  }

  .mod_breadcrumb {
    display: none;
  }
}

