@import "variables";

#header {
  position: absolute;
  width: 100%;
  z-index: 200;
  .header {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
  }
}



.header-right {
  .menu {
    background: $rot;
    padding: 35px 25px;
    border-bottom-right-radius: 30px;
    display: flex;
    img {
      width: 129px;
      margin-top: 93px;
    }
  }
}
