@import "variables";

.banner-image {
  z-index: 1;
  position: sticky;
  top: 0;
  .header-image {
    img {
      width: 100%;
      height: 85vh;
      object-fit: cover;
    }
  }
}

.sidebar {
  position: fixed;
  top: 50%;
  width: 70px;
  z-index: 200;
  transform: translateY(-50%);
  right: 0;
  & > div {
    position: relative;
    width: 430px;
    right: 0;
    padding: 10px;
    margin: 7px 0;
    border-top-left-radius: 30px;
    transition: right 250ms;
    background-color: $rot;
    height: 79px;
    p {
      font: normal normal normal 25px/32px Open Sans;
      a {
        padding-left: 58px;
        color: #fff;
        &:before {
          content: "";
          position: absolute;
          top: 28px;
          left: 13px;
          width: 50px;
          height: 50px;
        }
      }
    }
    &:hover {
      right: 230px;
    }
  }
}

.sidebar > div.contact p a:before {
  background: url("/files/assets/layout/phone.svg") no-repeat center;
}
.sidebar  > div.mail, .sidebar > div.location  {
  border-top-left-radius: 0;
}

.sidebar  > div.mail  p a:before {
  background: url("/files/assets/layout/chat-right-dots-fill.svg") no-repeat center;
}

.sidebar > div.location p a:before {
  background: url("/files/assets/layout/ios-location.svg") no-repeat center;
  border: none;
}

.header-teaser {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 200;
  height: 85vh;
  .teaser {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: $max-width;
    transform: translateX(-50%);
    z-index: 200;
    height: 85vh;
    color: white;
  }
}

.teaser {
  h2 {
    font: normal normal 600 70px/80px Open Sans;
    text-transform: uppercase;
    text-shadow: 3px 2px 20px #0000007A;
  }
  p {
    font: normal normal 600 30px/50px Open Sans;
    a {
      background: $lightness;
      &:after {
        background-color: $yellow;
      }
    }
  }
}

.bg-gray .contain .ce_text {
  p a {
    background-color: $yellow;
    transition: 0.2s color ease-out;
    &:after {
      background-color: $rot;
    }
    &:hover {
      color: white;
    }
  }
}

.rounded, .bg-gray, .bg-white, .bg-lightness,
.bg-finance, .bg-planning, .bg-yellow-new, .bg-gray-new,
.bg-company {
  position: relative;
  z-index: 5;
 background: white;
  margin-top: -5px;
}

.rounded {
  background: #fff url("/files/assets/layout/Stier.svg") no-repeat right bottom;
}

#without-bg.rounded {
  background-image: none;
}

.bg-lightness{
  background: transparent linear-gradient(226deg, #A3B4B5 0%, #525A5B 100%) 0% 0% no-repeat;
}

.bg-planning {
  background: #fff;
}
.bg-finance {
  background: #FFB641 no-repeat;
}

.bg-rot {
  width: 80%;
  border-bottom-right-radius: 30px;
  background: transparent linear-gradient(120deg, #BB2631 0%, #5E1319 100%) 0 0 no-repeat;
  padding: 10px 0;
  .teaser-contain {
    color: white;
    max-width: 870px;
    margin: 0 auto;
   /* margin-left: 25vw;*/
    h2 {
      font: normal normal 600 54px/60px Open Sans;
      text-transform: uppercase;
    }
    p {
      font: italic normal normal 26px/32px Open Sans;
    }
  }
}

.text-contain {
  max-width: 800px;
  margin: 50px auto;
  p {
    text-align: center;
    font: italic normal normal 24px/36px Open Sans;
  }
}

.text-contain.left {
  max-width: $max-width;
  p {
    text-align: left;
  }
}

.box {
  max-width: $max-width;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ce_text {
    width: 29%;
    text-align: center;
    height: 330px;
    img {
      width: 100px;
      height: 100px;
    }
    p {
      font: normal normal normal 22px/30px Open Sans;
      border-top: 2px solid $gray;
      padding-top: 15px;
      strong {
        text-transform: uppercase;
        font: normal normal 600 24px/30px Open Sans;
      }
    }
  }
}

.bg-gray .contain {
  background: transparent linear-gradient(229deg, #A3B4B5 0%, #525A5B 100%) 0% 0% no-repeat;
  border-top-left-radius: 150px;
  margin-top: -50px;
  .ce_text {
    margin: 50px auto;
    color: white;
    padding: 50px 0;
    p {
      font: normal normal normal 24px/36px Open Sans;
    }
  }
  .ce_image {
    img {
      width: 100%;
    }
  }
}

.bg-yellow {
  background: transparent linear-gradient(127deg, #FFB641 0%, #E19214 100%) 0% 0% no-repeat padding-box;
  border-top-right-radius: 150px;
  position: relative;
  margin-top: -130px;
  z-index: 6;
}

.contain .ce_text {
  margin: 50px auto;
  color: black;
  padding: 50px 0;
  p {
    font: normal normal normal 24px/36px Open Sans;
  }
}

.bg-white #teaser.ce_text {
  margin: 50px auto;
  font: normal normal normal 24px/36px Open Sans;
}

.bg-white {
  background: #fff url("/files/assets/layout/bär.svg") no-repeat left bottom;
}

.benefits, .box-advice, .ce_accordionStart.accordion {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  padding-bottom: 70px;
}

.benefit-top, .benefit-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .ce_text {
    width: 45%;
    h2 {
      text-align: right;
      font: normal normal bold 52px/52px Open Sans;
      text-transform: uppercase;
      color: $rot;
    }
  }
  .left, .ce_text.box-yellow {
    width: 45%;
    height: 185px;
    display: flex;
    align-items: center;
    color: white;
    font: normal normal 600 24px/30px Open Sans;
   text-transform: uppercase;
    text-align: center;
    p {
      a {
        background: #FFB641;
        height: 185px;
        display: flex;
        align-items: center;
        color: white;
      }
    }
  }
}

.benefit-top .left {
  border-radius: 30px 30px 30px 0;
}

#left-box.ce_text.box-yellow {
  border-radius: 30px 0 30px 30px;
}

#right-box.ce_text.box-yellow {
  border-radius: 0 30px 30px 30px;
}

.benefit-bottom, .benefit-top {
  .left, .ce_text.box-yellow {
    p {
      a {
        overflow: hidden;
        padding: 1rem 2rem;
        position: relative;
        transition: .2s transform ease-in-out;
        will-change: transform;
        z-index: 0;
        &:after {
          background-color: $rot;
          border-radius: 3rem;
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-100%, 0) rotate(0);
          transform-origin: top left;
          transition: .2s transform ease-out;
          will-change: transform;
          z-index: -1;
        }
      }
    }
  }
}

.benefit-top .left {
  p a {
   &:after {
     transform: translate(0, 100%) rotate(0);
     border-radius: 30px 30px 30px 0;
   }
    &:hover:after {
      transform: translate(0, 0);
    }
  }
}

.benefit-bottom #left-box.ce_text.box-yellow p a {
  &:after {
    border-radius: 30px 0 30px 30px;
    transform: translate(0, -100%) rotate(0);
  }
  &:hover:after {
    transform: translate(0, 0);
  }
}

.benefit-bottom #right-box.ce_text.box-yellow p a {
  &:after {
    border-radius: 0 30px 30px 30px;
    transform: translate(0, -100%) rotate(0);
  }
  &:hover:after {
    transform: translate(0, 0);
  }
}

.image-text, .text-image {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  flex-wrap: wrap;
  align-items: center;
}

.image-left, .image-right {
  width: 35vw;
  img {
    height: 900px;
    object-fit: cover;
  }
}

.text-left, .text-right {
  width: 40vw;
}

.text-right {
  text-align: right;
  margin-right: 24%;
}
.text-left {
  margin-left: 24%;
}

.image-text .image-left {
  img {
    border-bottom-right-radius: 130px;
  }
}

.text-image .image-right {
  img {
    border-radius: 130px 130px 0 0;
  }
}

.image-text .image-left {
  img {
    border-bottom-right-radius: 130px;
  }
}
.image-text #rounded.image-left {
  img {
    border-radius: 130px 0;
  }
}
.text-image #rounded.image-right {
  img {
    border-top-left-radius: 130px;
  }
}

.image-text, .text-image {
  .text-right, .text-left {
    h2 {
      font: normal normal bold 54px/60px Open Sans;
      color: $rot;
      text-transform: uppercase;
    }
    p {
      font: normal normal normal 24px/36px Open Sans;
    }
  }
}

.text-image #color.text-left {
  h2 {
    color: black;
  }
  p {
    color: white;
  }
}

.image-text .text-right, .text-image .text-left {
  p {
    a {
      background: $yellow;
      font: normal normal 600 30px/50px Open Sans;
      &:after {
        background-color: $rot
      }
    }
  }
}

.image-text .text-right p a {
  &:after {
    transform: translate(100%, 0%) rotate(-4deg);
  }
}
.image-text #link-color.text-right p a {
 background-color: $lightness;
}

.teaser-left {
  font: normal normal normal 24px/36px Open Sans;
  margin-bottom: 100px;
}

#assets.teaser {
  color: black;
  h2 {
    text-shadow: none;
  }
}

.tab-block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background ease 0.2s;
  background: #90CAF9;
  margin-right: 0.2rem;
  text-align: center;
  color: white;
  span {
    text-transform: uppercase;
    display: block;
    font: normal normal 600 24px/36px Open Sans;
  }
}
.tabs .tab  {
  order: 9;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 20px;
  background: $yellow;
  font: normal normal normal 24px/36px Open Sans;
  color: white;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label{
  background: $yellow;
  color: black;
  img {
    filter: invert(1);
  }
}
.tabs input[type="radio"]:checked + label ~ .tab  {
  display: inline-flex;
}

#tabone-content, #one .tab  {
  background: $yellow;
}
#tabtwo-content, #two .tab {
  background: #E7843B;
}
#tabthree-content, #three .tab {
  background: #D66037;
}
#tabfour-content, #four .tab {
  background: $rot;
}

#without-bg.rounded.yellow {
  margin-top: -2px;
}

.border-teaser {
  font: italic normal normal 24px/36px Open Sans;
  margin: 130px auto ;
  text-align: center;
  border: 8px solid #FFB641;
  border-radius: 50px 50px 50px 0;
  position: relative;
  p {
    padding: 15px 45px;
  }
  &:before {
    position: absolute;
    content: "";
    left: 100px;
    top: 2px;
    width: 50px;
    height: 50px;
    background: url("/files/assets/layout/before-rot.svg") no-repeat 0/cover;
  }
}

.contact {
  margin: 35px auto 130px;
  text-align: center;
}

.contact-box {
  background: white;
  height: 480px;
  width: 357px;
  box-shadow: 4px 4px 13px #0000004F;
  border-radius: 40px 40px 40px 0;
  display: inline-block;
  img {
    width: 230px;
    border-radius: 25px;
    margin: 43px auto auto;
  }
  p {
    font: normal normal normal 24px/36px Open Sans;
    strong {
      text-transform: uppercase;
      font-weight: 600;
      color: $rot;
    }
    a {
      color: black;
    }
  }
}

.contain .image {
  img {
    height: 80vh;
    object-fit: cover;
  }
}

.bg-gray .contain .image1 img {
  height: 670px;
  object-fit: cover;
  object-position: right bottom;
}

.bg-yellow-new {
 .contain-new {
   background: transparent linear-gradient(207deg, #FFB641 0%, #E19214 100%) 0% 0% no-repeat padding-box;
   border-top-left-radius: 150px;
   img {
     width: 100%;
   }
   .image img {
     border-top-right-radius: 150px;
     height: 80vh;
     object-fit: cover;
   }
 }
}

.bg-gray-new, .bg-company {
  .contain-new {
    background: transparent linear-gradient(221deg, #A3B4B5 0%, #525A5B 100%) 0% 0% no-repeat padding-box;
    border-top-left-radius: 150px ;
    .ce_text {
      margin: 50px auto;
      padding: 50px 0;
      h2 {
        font: normal normal bold 50px/60px Open Sans;
        text-transform: uppercase;
      }
      p {
        font: normal normal normal 24px/36px Open Sans;
        color: white;
      }
    }
    img {
      height: 40vh;
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 150px;
    }
  }
}



.block-teaser {
  margin: 50px auto;
  padding: 50px 0;
 .one, .two, .three, .four, .five {
   position: relative;
   padding: 20px 75px;
   &:before {
     content: "";
     position: absolute;
     left: 0;
     top: 40px;
     width: 60px;
     height: 75px;
   }
 }
  p {
    font: normal normal normal 24px/36px Open Sans;
  }
}

.block-teaser .one:before {
  background: url("/files/assets/layout/1.svg") no-repeat/* 0/cover*/;
}
.block-teaser .two:before {
  background: url("/files/assets/layout/2.svg") no-repeat /*0/cover*/;
}
.block-teaser .three:before {
  background: url("/files/assets/layout/3.svg") no-repeat/* 0/cover*/;
}
.block-teaser .four:before {
  background: url("/files/assets/layout/4.svg") no-repeat /*0/cover*/;
}
.block-teaser .five:before {
  background: url("/files/assets/layout/5.svg") no-repeat /*0/cover*/;
}

.block-teaser #top-before.three:before,
.block-teaser #top-before.four:before{
  top: 5px;
}

.teaser-bg-gray {
  background: transparent linear-gradient(227deg, #A3B4B5 0%, #525A5B 100%) no-repeat ;
  border-top-left-radius: 150px;
  position: relative;
  margin-top: -135px;
  z-index: 6;
  .ce_text {
    color: white;
  }
}

#offers.teaser-left {
  padding: 80px 0;
  margin-bottom: 0;
}

#acquisition.teaser-left {
  padding-top: 100px;
  h2 {
    font: normal normal bold 50px/60px Open Sans;
    text-transform: uppercase;
    color: $rot;
  }
}






