@import "variables";

#mobile-menu-1.mobile_menu {
  z-index: 205;
  position: absolute;
  .inner {
    background: transparent linear-gradient(116deg, #BB2631 0%, #5E1319 100%) no-repeat;
    // background-image: url('../layout/menü-Background.png');
    &:after {
     /* content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("/files/assets/layout/ecke.svg");*/
    }
  }
}
.inner .header {
  .header-right {
    display: flex;
    align-items: center;
    .menu-close {
      top: 32px;
      position: relative;
      img {
        width: 80px;
        filter: invert(1);
      }
    }
  }
}

.navigation {
  width: 90%;
  max-width: 800px;
  margin: 70px auto;
  .mod_navigation {
    overflow: visible;
    > ul > li > a {
      padding: 20px 8px;
    }
    ul {
      max-width: 300px;
      li {

        position: relative;
        z-index: 10;
        opacity: 1;
        /*overflow: hidden;*/
        a {
          display: block;
          width: 100%;
          color: white;
          text-transform: uppercase;
          font: normal normal 600 20px/28px Open Sans;
        }
        &:before {
          background-color: $yellow;
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          /* transform: translate(0, 100%);*/
          transform: scaleY(0);
          transform-origin: bottom right;
          transition: 0.3s transform linear;
          z-index: -1;
        }
        &:hover:before {
          /* transform: translate(0, 0);*/
          transform: scaleY(1);
          transform-origin: bottom left;
        }
        &:not(:last-child) {
          border-bottom: 1px solid white;
        }
        strong.active {
          color: white;
          font: normal normal 600 20px/28px Open Sans;
          text-transform: uppercase;
        }
      }
      &.level_2 {
        display: none;
        position: inherit;
        li {
          border: none;
          font: normal normal normal 18px/32px Open Sans;
          padding: 10px 0 10px 130px ;
          width: 100%;
          overflow: visible;
          a, strong {
            text-transform: capitalize;
            position: relative;
            transition: color 250ms;
            &:before {
              position: absolute;
              content: "";
              left: -30px;
              top: 2px;
              width: 20px;
              height: 20px;
              background: url("/files/assets/layout/before.svg") no-repeat 0/cover;
            }
            &:hover {
              color: $yellow;
            }
          }
          &:before {
            display: none;
          }
          &:hover:before{
            transform: none ;
          }
        }

      }
    }
  }
}

.navigation .mod_navigation ul li:hover ul.level_2,
.navigation .mod_navigation ul li:focus ul.level_2{
  position: absolute;
  display: block;
  width: 100%;
  z-index: 100;
  left: 50%;
  overflow: visible;
  transform: translateX(50%);
  top: 9px;
}

.mod_mobile_menu.mobile, .mod_navigation-mobile {
  display: none;
}

#mobile-menu-20.mobile_menu {
  display: none !important;
}

.mobile_menu_active body {
  overflow-y: hidden;
}

.mobile_menu.active.position_top {
  box-shadow: none;
}

.mobile_menu_active body #mobile-menu-1.mobile_menu {
  .inner {
    //background: transparent linear-gradient(116deg, #BB2631 0%, #5E1319 100%) no-repeat;
    background: url("../layout/menü-Background.png") no-repeat 0%/contain;
    background-color: transparent;
    background-size: 100%;
    background-position: 0 0;
    position: relative;
    overflow: visible;
   /* &:after {
      content: "";
      position: absolute;
      !*background: transparent linear-gradient(116deg, #6E161D 0%, #63141A 100%) no-repeat;*!
      background: transparent linear-gradient(180deg, #72171e 100%, #6A151C 0%) no-repeat;
      height: 139px;
      width: 147px;
      right: 20%;
      background-size: 150px;
      bottom: -40px;
      box-sizing: border-box;
      border-radius: 0 0 35px 0;
      max-width: $max-width;
    }*/
  }
}

.mobile_menu_active body .menu-icon {
  position: relative;
  width: 90%;
  max-width: 1130px;
  margin: 0 auto;
  .icon-bg {
    height: 139px;
    width: 147px;
    bottom: -40px;
    box-sizing: border-box;
    border-radius: 0 0 35px 0;
    position: absolute;
    right: 0;
    background: transparent linear-gradient(180deg, #72171e 100%, #6A151C 0%) no-repeat;
  }
}


@media screen and (max-height: 1000px) {
  .navigation {
    margin: 15px auto;
  }
  #mobile-menu-1.mobile_menu {
    height: 100% !important;
  }
}

@media screen and (max-width: 860px) {
  .mod_mobile_menu.desktop, .navigation {
    display: none;
  }
  .mod_mobile_menu.mobile, .mod_navigation-mobile {
    display: block;
  }
  #mobile-menu-1.mobile_menu {
    display: none !important;
  }
  #mobile-menu-20.mobile_menu {
    display: block !important;
  }

  #mobile-menu-20.mobile_menu {
    z-index: 205;
    .inner {
      background: transparent linear-gradient(116deg, #BB2631 0%, #5E1319 100%) no-repeat;
      width: 90%;
      margin: 0 auto;
      .header {
        width: 100%;
      }
    }
  }
  #mobile-menu-20.mobile_menu .header .header-right {
    display: block;
    .menu-close {
      top: 0;
      img {
        width: 60px;
      }
    }
  }
  .mod_navigation-mobile {
    width: 90%;
    margin: 15px auto;
    max-width: $max-width;
    .menu-list {
      & > li {
        padding: 7px 0;
        border-bottom: 2px solid white;
        padding-bottom: 15px;
        margin-bottom: 10px;
        & > div {
          font: normal normal normal 17px/22px Open Sans;
          color: white;
          text-transform: uppercase;
        }
        .mod_customnav {
         /* margin: 10px 30px;*/
          li {
            font: normal normal normal 16px/29px Open Sans;
            padding: 5px 0;
            margin: 0 25px;
            a, strong {
              position: relative;
              color: white;
              &:before {
                position: absolute;
                content: "";
                left: -25px;
                top: 0;
                width: 28px;
                height: 28px;
                background: url("/files/assets/layout/before.svg") no-repeat;
                background-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .mod_navigation-mobile .menu-list > li.last {
    border: none;
  }
}

