@import "variables";

.mod_newsreader {
  width: 90%;
  max-width: 800px;
  margin: 120px auto;
  h1 {
    color: $yellow;
  }
  p {
    line-height: 1.5em;
    color: #333;
    font-size: 24px;
  }
  .back a {
    display: inline-block;
    padding: 12px 20px;
    color: white;
    background: $rot;
    border-radius: 5px;
    transition: filter 250ms;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
