@import "variables";

.ce_sliderStart.galery {
  position: relative;
  margin-top: 50px;
  .slider-wrapper {
    .image_container {
      margin-bottom: -10px;
      img {
        height: 75vh;
        width: 100%;
        object-fit: cover;
      }
      .caption {
        position: absolute;
        bottom: 17%;
        text-align: center;
        left: 50%;
        color: white;
        text-transform: uppercase;
        font: normal normal bold 24px/30px Open Sans;
        text-shadow: 0 0 15px #00000080;
        border-bottom: 2px solid white;
        width: 165px;
        padding-bottom: 6px;
        transform: translateX(-50%);
      }
    }
  }
}



.ce_sliderStart.galery {
  .slider-control {
    position: absolute;
    width: 50%;
    bottom: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    .slider-menu {
      background: $rot;
      padding: 18px 0;
      text-align: center;
      font-size: 0;
      b {
        cursor: pointer;
        font-size: 0;
        display: inline-table;
        background-color: transparent;
        width: 10px;
        height: 10px;
        border: 3px solid white;
        margin: 0 5px;
        border-radius: 50%;
        &.active {
          background: white;
        }
      }
    }
    .slider-prev {
      left: 15%;
    }
    .slider-next {
      right: 16%;
    }
    .slider-prev, .slider-next {
      width: 45px;
      top: 0;
      .border-left, .border-right {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $rot;
        img {
          width: 17px;
        }
      }
      .border-left {
        border-top-left-radius: 20px;
      }
      .border-right {
        border-top-right-radius: 20px;
      }
    }
  }
}

.news {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.ce_sliderStart.slider-news, .news .teaser-news {
  width: 47%;
  margin: 0 auto;
}

.ce_sliderStart.slider-news .content-slider .layout_short .image_container {
  text-align: center;
  img {
    width: 150px;
  }
}

.ce_sliderStart.slider-news {
  margin: 30px auto;
  position: relative;
  border-right: 3px solid #A3B4B5;
  padding-right: 20px;
  .ce_text, .more {
    text-align: center;
    font: normal normal normal 24px/36px Open Sans;
  }
  .more {
    text-transform: uppercase;
    a {
      background: $rot;
      color: white;
      padding: 9px 20px;
      position: relative;
      top: 10px;
      transition: background-color 250ms, color 250ms;
      &:hover {
        background: $yellow;
        color: black;
      }
    }
  }
  .slider-control {
    position: absolute;
    width: 100%;
    bottom: 3px;
    .slider-prev, .slider-next {
      transform: translateY(-50%);
      top: 0;
    }
    .slider-prev {
      left: 17%;
    }
    .slider-next {
      right: 21%;
    }
    .slider-menu {
      display: none;
    }
  }
}

.ce_sliderStart.slider-news {
  .slider-prev, .slider-next {
    .border-left, .border-right {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $rot;
      img {
        width: 15px;
      }
    }
    .border-left {
      border-top-left-radius: 20px;
    }
    .border-right {
      border-top-right-radius: 20px;
    }
  }
}

.teaser-news {
  text-align: right;
  font: normal normal normal 24px/36px Open Sans;
  h2 {
    font: normal normal bold 54px/60px Open Sans;
    letter-spacing: 0;
    color: $rot;
    text-transform: uppercase;
  }
}

.bg-gray {
  .contain-slider {
    background: transparent linear-gradient(229deg, #A3B4B5 0%, #525A5B 100%) 0% 0% no-repeat;
    border-top-left-radius: 150px;
    .news {
      padding: 100px 0 250px;
      color: white;
      .ce_sliderStart.slider-news {
        border: none;
        padding-right: 0;
        .slider-control .slider-next {
          right: 17%;
        }
      }
      .teaser-news {
        text-align: left;
        border-right: 3px solid black;
        padding-right: 20px;
        h2 {
          color: black;
        }
      }
    }
  }
}

.bg-yellow.slider {
  margin-top: -185px;
  padding: 100px 0;
  .teaser-news h2 {
    word-wrap: break-word;
  }
  .ce_sliderStart.slider-news {
    border-color: white;
  }
}

#engagement {
  border: none;
  padding: 80px 0;
  width: 100%;
  max-width: 1130px;
  .content-slider {
     margin: 0 auto;
    max-width: 800px;
    .ce_text p {
      font: normal normal normal 24px/36px Open Sans;
      color: white;
    }
    .more {
      font: normal normal normal 24px/36px Open Sans;
      a {
        background-color: $yellow;
        transition: .2s color ease-out;
        &:after {
          background-color: $rot;
          transform: translate(-100%, 100%) rotate(4deg);
        }
        &:hover:after {
          transform: translate(0, 0) rotate(0);
        }
        &:hover {
          color: white;
        }
      }
    }
  }
  .slider-control {
    transform: translateY(-50%);
    top: 50%;
    bottom: 0;
    .slider-next, .slider-prev {
      .arrow-left, .arrow-right {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        transition: background-color 250ms;
        border-radius: 50%;
        &:hover {
          background-color: $rot;
        }
        img {
          width: 40px;
          height: 80px;
          transition: filter  250ms;
          &:hover {
            filter: saturate(0) brightness(10);
          }
        }
      }
      }
    .slider-next {
      right: 0;
    }
    .slider-prev {
      left: 0;
    }
  }
}

@media screen and (max-width: 840px)  {
  .ce_sliderStart.galery {
    .slider-wrapper {
      .image_container .caption {
        bottom: 25%;
      }
    }
    .slider-control {
      width: 100%;
      .slider-menu {
        padding: 17px 0;
      }
      .slider-prev {
        left: 9%;
      }
      .slider-next {
        right: 11%;
      }
    }
  }

  .news {
    flex-wrap: wrap;
    margin: 20px auto;
  }

  .ce_sliderStart.slider-news {
    width: 100%;
    border: none;
    padding-right: 0;
    .slider-control {
      .slider-prev {
        left: 0;
      }
      .slider-next {
        right: 0;
      }
    }
    .more a {
      padding: 9px 10px;
    }
  }
  .news .teaser-news {
    width: 100%;
    text-align: left;
    h2 {
      font: normal normal 600 30px/34px Open Sans;
    }
  }

  .bg-gray .contain-slider {
    border-top-left-radius: 70px;
    .news {
      padding: 50px 0 100px;
      .teaser-news {
        border: none;
        padding-right: 0;
      }
      .ce_sliderStart.slider-news .slider-control .slider-next {
        right: 0;
      }
    }
  }
  .bg-yellow.slider {
    margin-top: -90px;
    padding: 0;
  }
  #engagement {
    padding: 50px 0;
    .content-slider .ce_text p,  .content-slider .more {
      font: normal normal normal 19px/28px Open Sans;
    }
    .content-slider {
      width: 75%;
    }
    .slider-control {
      .slider-prev, .slider-next {
        .arrow-left, .arrow-right {
          width: 50px;
          height: 50px;
          img {
            width: 30px;
            height: 50px;
          }
        }
      }
    }
  }
}

